.advantages {
    margin-top: 125px;
    &_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &_item {
        width: 250px;
        text-align: center;
    }

    &_icons {
        width: 70px;
        height: 70px;
        border: 1px solid #E3E3E3;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

    &_icon {
        transition: all 0.5s;
    }

    &_title {
        margin-top: 30px;
        font-family: 'OpenSans Semibold';
        font-size: 18px;
        color: #6a6a6a;
        transition: all 0.5s;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 1px;
            background-color: #868686;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_header {
        &:hover {
            .advantages_icons {
                border: 1px solid $carrot-color;
                transform: rotate(45deg);
            }
            .advantages_icon {
                transform: rotate(-45deg);
            }
            .advantages_title {
                color: $carrot-color;
            }
        }
    }
    &_text {
       margin-top: 35px;
       font-family: 'SourceSansPro Light';
       color: #999;
       line-height: 20px;
       font-weight: 600;
       font-size: 14px;
    }
    
}



