.blog {   
    .blog_item {
        width: 337px;
        background-color: $carrot-color;
        color: #fff;
        font-family: "OpenSans";

        &-suptitle {
            font-size: 14px;
        }

        &-title {
            font-family: "OpenSans Semibold";
            text-transform: uppercase;
            font-size: 24px;
            margin-top: 20px;
            position: relative;
            &:after {
                content: '';
                height: 2px;
                width: 45px;
                background-color: #fff;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }

        &-descr {
            margin-top: 35px;
            font-size: 14px;
            line-height: 25px;
        }

        &-img {
            width: 337px;
            height: 337px;
            object-fit: cover;
            position: relative;

        }
    }
}

.item_arrow-left {
    position: relative;
    &:after {
        @include blog-item-arrow;
        border-left: 20px solid $carrot-color;
        left: 0;
    }
}

.item_arrow-right{
    position: relative;
    &:after {
        @include blog-item-arrow;
        border-right: 20px solid $carrot-color;
        right: 0;
    }
}

.item-text {
    box-sizing: border-box;
    padding: 30px 30px;
}
.blog_list {
    margin-top: 70px;
    width: 1348px;
    display: grid;
    grid-template: repeat(2, 337px) / repeat(4, 1fr);
}

