@font-face {
    font-family: 'OpenSans Bold';
    src: url('assets/fonts/OpenSans-Bold.eot');
    src: url('assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('assets/fonts/OpenSans-Regular.eot');
    src: url('assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Semibold';
    src: url('assets/fonts/OpenSans-SemiBold.eot');
    src: url('assets/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-SemiBold.woff') format('woff'),
    url('assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-Regular.eot');
    src: url('assets/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Light';
    src: url('assets/fonts/SourceSansPro-Light.eot');
    src: url('assets/fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SourceSansPro-Light.woff') format('woff'),
    url('assets/fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Semibold';
    src: url('assets/fonts/SourceSansPro-SemiBold.eot');
    src: url('assets/fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SourceSansPro-SemiBold.woff') format('woff'),
    url('assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Bold';
    src: url('assets/fonts/SourceSansPro-Bold.eot');
    src: url('assets/fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/SourceSansPro-Bold.woff') format('woff'),
    url('assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'OpenSans Bold Italic';
    src: url('assets/fonts/OpenSans-BoldItalic.eot');
    src: url('assets/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
    url('assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}