.footer {
    background-color: rgb(45,45,45);
    padding: 35px 0px;
    
    .footer_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .social {
        display: flex;
        justify-content: space-between;

        &_link {
            margin-right: 15px;
            
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.rights {
    font-family: "OpenSans Semibold";
    color: #999;
    font-size: 14px;
}