body {
    width: 100%;
    max-width: 1920px;
    margin: 0;
    padding: 0;
    background-color: #F2F2F6FF;
    
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


.wrapper-top-bg {
    background: url('assets/img/header/foreground.png') center/cover no-repeat, url('assets/img/header/header-bg.png') center/cover no-repeat;
}

.section_header {
    padding-top: 100px;
    text-align: center;
    .section_title {
        font-family: 'SourceSansPro Bold';
        color: #6a6a6a;
        font-size: 36px;
        &-sign {
            color: #999;
            font-size: 14px;
            font-family: 'SourceSansPro'; 
            margin-top: 30px;
        }
    }
}
.divider_grey {
    @include divider;
    &:before {
        background-color: $arrow-color;
    }

    &:after {
        background-color: $arrow-color;
    }
}

.hr {
    color: #E4E5E9;
    border: none;
    height: 2px;
    background-color: #E4E5E9;
}

.after_adv {
    margin-top: 110px;
}

.after_tariffs {
    margin-top: 140px;
}