.history {
    padding-top: 140px;
    padding-bottom: 145px;
    &_content {
        display: flex;
        justify-content: space-between;
    }

    &_img {
        width: 505px;
        height: 405px;
        text-align: center;
    }
    &_monitor {
        width: 100%;
        height: 100%;
    }

    &_descr {
        width: 580px;
        height: 405px;
    }

    &_title {
        margin-top: 0px;
        padding-left: 35px;
        position: relative;
        text-decoration: uppercase;
        font-family: 'SourceSansPro Light';
        color: #6a6a6a;
        font-size: 36px;
        &:before {
            @include title-serif;
            top: 5px;
            left: 0;
        }
    }
    &_text {
        color: #999;
        font-family: 'SourceSansPro';
        line-height: 30px;
        font-size: 14px;
        margin-top: 45px;

    }
    .text--mtop {
        margin-top: 25px;
    }

    &_btn {
        width: 225px;
        height: 55px;
        background-color: $carrot-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 35px;
        border-radius: 3px;
        &:hover {
            box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
        }
        &-link {
            text-decoration: none;
            font-family: "OpenSans Bold";
            font-size: 14px;
            color: #fff;
        }
    }
}