
@media (max-width: 1600px) {
    
    .left {
        left: -380px;    
    }
    
    .right {
        right: -380px;
    }
    .services {
        &_icon-display {
           
            top: 180px;  
        }
       
        &_icon-camera {
           
            bottom: 50px; 
        }
    }
    
}

@media (max-width: 1440px) {
    .left {
        left: -300px;    
    }
    
    .right {
        right: -300px;
    }  
    .services {
        &_item {
            padding-left: 180px;
        }
        &--width {
            margin-left: 0px;
        }
        &_icon-display {
           
            top: 185px;  
        }
        &_icon-stack {
            bottom: 210px;  
        }
       
        &_icon-camera {
           
            bottom: 75px; 
        }
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1100px;
    }

    .left {
        left: -270px;    
    }
    
    .right {
        right: -270px;
    }
    .history {
        &_img {
            width: 405px;
            height: 305px;
        }
    
        &_descr {
            width: 540px;
            height: 355px;
        }
    }
    .services {
        &_item {
            padding-left: 140px;
        }
        
    }
    .blog_item {
        &-descr {
            font-size: 12px;
            line-height: 20px;
        }
        &-title {
            font-size: 18px;
            padding: 0 0 5px 0;
            margin-top: 10px;
        }
        &-suptitle {
            font-size: 10px;
        }
    }
    .statistics  {
        &_list {
            width: 900px;
        }
    }
}

@media (max-width: 1024px) {
    .hamburger_divider {
        display: block;
    }
    .header_list {
        display: none;
    }

    .container {
        max-width: 880px;
    }

    .arrow-block {
        display: none;
    }

    .advantages {
        &_item {
            width: 180px;
        }
    }

    .history {
        &_img {
            width: 580px;
            height: 355px;
        }
    
        &_descr {
            width: 540px;
            height: 355px;
            margin-top: 160px;
        }

        &_content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .services {
        &_item {
            padding-left: 80px;
            margin-top: 30px;
        }
        &_icon-display {
            top: 155px;  
        }
        &_icon-stack {
            bottom: 240px;  
        }
        &_icon-camera {
            bottom: 110px; 
        }
    }
    .blog_item {
        &-descr {
            font-size: 10px;
        }
    }

}
@media (max-width: 768px) { 
    .container {
        max-width: 650px;
    }

    .promo {
        &_title {
            font-size: 62px;
        }
    }
    .advantages {
        &_item {
            width: 125px;
        }
        &_text {
            font-size: 12px;
        }
        &_title {
            font-size: 14px;
        }
    }
    .services {
        &_item {
            padding-left: 35px;
            margin-right: 25px;
        }
        &_icon-display {
            top: 160px;  
        }
        &_title {
            margin-right: 25px;
        }
    }
}

@media (max-width: 720px) {
    .container {
       max-width: 580px;
    }
    .services {
        &_item {
            font-size: 12px;
        }
        &_title {
            margin-right: 25px;
        }
    }
       
}

@media (max-width: 480px) { 
    .container {
        max-width: 430px;
    }

    .promo {
        &_title {
            font-size: 36px;
        }
        .btn-start {
            margin-right: 0px;
        }
        .btn-learn {
            display: block;
        
        padding: 15px 0px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .advantages {
        &_item {
            width: 180px;
            margin-top: 10px;
        }
        &_list {
            flex-wrap: wrap;
        }
    }

    
    .history {
        margin-bottom: 340px;
        &_img {
            width: 370px;
            height: 185px;

        }
        &_monitor {
            width: 350px;
            height: 255px;
        }
    
        &_descr {
            width: 370px;
            height: 185px;
            margin-top: 160px;
        }

        &_content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .services {
        &_title{
            font-size: 24px;
            margin-right: 15px;
            padding-right: 15px;
            &:after { 
                top: 0px;
            }
        }
        &_item {
            padding-left: 20px;
            line-height: 22px;
            margin-right: 10px;
        }
        &_icon-display {
            top: 135px;  
        }
        &_icon-stack {
            bottom: 230px;  
        }
        &_icon-camera {
            bottom: 70px; 
        }
      
    }
}

@media (max-width: 320px) { 
    .container {
        max-width: 280px;
    }
    .header {
        &_logo {
            display: none;
        }
    }
    .advantages {
        &_list {
            justify-content: center;
        }
    }
    .promo {
        max-width: 680px;
        padding: 235px 0 265px 0;
        margin: 0 auto;
        position: relative;
        text-align: center;
        &_suptitle {
            font-size: 18px;
        }
        &_title {
            font-size: 28px;
        }
    }

    .history {
        
        &_img {
            width: 250px;
            height: 175px;

        }
        &_monitor {
            width: 250px;
            height: 180px;
        }
    }
    .services {
        &_title{
            font-size: 24px;
            margin-right: 25px;
            padding-right: 15px;
            &:after { 
                top: 0px;
            }
        }
        &_content-right {
            display: none;
        }
        &_content-left {
            width: 100%;
        }
        &_title {
            padding-right: 25px;
            margin-right: 0px;
        }
        &_item {
            margin-right: 0px;
            font-size: 14px;
        }
        &_icon-display,
        &_icon-stack,
        &_icon-camera  {
            display: none;
        } 
    }
}