@mixin slider-arrows {
    width: 12px;
    height: 12px;
    border-left: 3px solid $arrow-color;
    border-bottom: 3px solid $arrow-color;
    transition: all 0.5s;
    
}

@mixin promo-text {
    color: #f4f5f9;
    font-family: 'OpenSans';
}

@mixin title-serif {
    content: '';
    width: 5px;
    height: 35px;
    background-color: $carrot-color;
    position: absolute;
}

@mixin service-icon-pos {
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
}

@mixin divider {
    margin: 0 auto;
    margin-top: 45px;
    width: 8px;
    height: 8px;
    background-color: $carrot-color;
    border-radius: 100%;
    position: relative;
    &:before {
        content: '';
        width: 80px;
        position: absolute;
        height: 1px;
        left: -95px;
        top: 4px;
    }
    &:after {
        content: '';
        width: 80px;
        position: absolute;
        height: 1px;
        right: -95px;
        top: 4px;
    }
}

@mixin blog-item-arrow {
    content: "";
    height: 0px;
    width: 0px;
    border: 40px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}