@mixin slider-arrows {
    width: 12px;
    height: 12px;
    border-left: 3px solid $arrow-color;
    border-bottom: 3px solid $arrow-color;
    transition: all 0.5s;
    
}

@mixin promo-text {
    text-align: center;
    color: #f4f5f9;
    font-family: 'OpenSans';
}